.sideMenu-tabList {
    position        : absolute;
    top             : 0px;
    bottom          : 0px;
    background-image: none;
}

.sideMenu-tabList.rtl {
    right                    : 0px;
    left                     : auto;
    border-bottom-left-radius: 6px;
    border-top-left-radius   : 6px;
}

.sideMenu-tabList.ltr {
    left                      : 0px;
    right                     : auto;
    border-bottom-right-radius: 6px;
    border-top-right-radius   : 6px;
}

.sideMenu-open>.sideMenu-tabList {
    border-radius: 1px !important;
}

/* ///////////////////////////////////////////////////////////////////////// */
.sideMenu-resizer.ltr {
    border-top-right-radius   : 6px;
    border-bottom-right-radius: 6px;
    box-shadow                : 2px 0px 4px lightgrey;
}

.sideMenu-resizer.rtl {
    border-top-left-radius   : 6px;
    border-bottom-left-radius: 6px;
    box-shadow               : -2px 0px 4px lightgrey;
}

.sideMenu-resizer {
    position        : absolute;
    top             : 0px;
    bottom          : 0px;
    width           : 4px;
    cursor          : ew-resize !important;
    background-image: none;
}

.sideMenu-resizer:hover {
    cursor: ew-resize !important;
}

/* /////////////////////////////////////////////////////////////////////// */
.sideMenu-resizerContainer {
    position: absolute;
    top     : 0px;
    bottom  : 0px;
}

.sideMenu-resizerContainer.ltr {
    right: 0px !important;
}

.sideMenu-resizerContainer.rtl {
    left: 0px !important;
}

/* ///////////////////////////////////////////////////////////////////////////// */
.sideMenu-panelList.ltr {
    direction: ltr;
}

.sideMenu-panelList.rtl {
    direction: rtl;
}

.sideMenu-panelList {
    position        : absolute;
    top             : 0px;
    bottom          : 0px;
    background-image: none;
    overflow        : hidden;
}

/* ///////////////////////////////////////////////////////////////////////////// */










.sideMenuIcon {
    cursor: pointer;
}

#sideMenu-tabList>div {
    padding-top : 8px;
    text-align  : center;
    height      : 38px;
    border-top  : none !important;
    border-left : none !important;
    border-right: none !important;
}

#horizentalMenuContainer {
    top             : 0px;
    bottom          : 2px;
    /*height        :calc(100% - 37px);*/
    position        : absolute;
    right           : 344px;
    background-image: none;
    left            : 0px;
}

#horizentalMenuContainerInner {
    position: absolute;
    left    : 3px;
    top     : 0px;
    right   : 3px;
    bottom  : 0px;
}

.sideMenuContent {
    padding: 5px 5px 15px 5px;
}

.sideMenuContentTitle {
    padding: 2px 5px 2px 5px;
}

.verticalPanel {
    direction: rtl;
    padding  : 3px;
}

.hiddensideMenu-panelList>#sideMenu-tabList,
.hiddensideMenu-panelList>#sideMenu-tabList>div:first-child {
    border-top-left-radius: 6px;
}

.hiddensideMenu-panelList>#sideMenu-tabList {
    border-bottom-left-radius: 6px;
}

#container.hiddensideMenu-panelList>#horizentalMenuContainer {
    right: 40px !important;
}

#container.hiddensideMenu-panelList>#sideMenu-panelList,
#container.hiddensideMenu-panelList>#sideMenu-resizer {
    display: none;

}

#horizentalMenuContainer.loading,
#sideMenu-panelList.loading {
    cursor          : wait;
    filter          : blur(4px);
    background-image: none;
}

#sideMenuTreeSearchInput {
    outline: none !important;
}