

#verticalTabList {
    position: absolute;
    top: 37px;
    right: 0px;
    width: 40px;
    bottom: 2px;
    background-image: none;
}

.sideMenuIcon {
    cursor: pointer;
}

#verticalTabList > div {
    padding-top: 8px;
    text-align: center;
    height: 38px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

#horizentalMenuContainer {
    top: 37px;
    bottom: 2px;
    /*height:calc(100% - 37px);*/
    position: absolute;
    right: 344px;
    background-image: none;
    left: 0px;
}

#horizentalMenuContainerInner {
    position: absolute;
    left: 3px;
    top: 0px;
    right: 3px;
    bottom: 0px;
}

.sideMenuContent {
    padding: 5px 5px 15px 5px;
}

.sideMenuContentTitle {
    padding: 2px 5px 2px 5px;
}

.verticalPanel {
    direction: rtl;
    padding: 3px;
}

.hiddenVerticalPanelList > #verticalTabList, .hiddenVerticalPanelList > #verticalTabList > div:first-child {
    border-top-left-radius: 6px;
}

.hiddenVerticalPanelList > #verticalTabList {
    border-bottom-left-radius: 6px;
}

#container.hiddenVerticalPanelList > #horizentalMenuContainer {
    right: 40px !important;
}

#container.hiddenVerticalPanelList > #verticalPanelList, #container.hiddenVerticalPanelList > #sideMenuResizer {
    display: none;
}

#sideMenuResizer {
    box-shadow: -2px 0px 4px lightgrey;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#sideMenuResizer, .sideMenuResizer {
    position: absolute;
    right: 340px;
    top: 37px;
    bottom: 2px;
    width: 4px;
    cursor: ew-resize !important;
    background-image: none;
}

    #sideMenuResizer:hover {
        cursor: ew-resize !important;
    }

#resizerContainer {
    position: absolute;
    top: 35px;
    left: 0px;
    right: 40px;
    bottom: 0px;
}

#verticalPanelList {
    position: absolute;
    right: 40px;
    direction: rtl;
    width: 300px;
    top: 37px;
    bottom: 2px;
    background-image: none;
    overflow: hidden;
}

    #horizentalMenuContainer.loading, #verticalPanelList.loading {
        cursor: wait;
        filter: blur(4px);
        background-image: none;
    }

#sideMenuTreeSearchInput {
    outline: none !important;
}
